/* Configurações Gerais */
@font-face {
    font-family: manrope;
    src: url('../fonts/Manrope/Manrope-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'manrope';
}

.context{
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

h2{
    font-size: 40px;
    color: #01A0DD;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
/* ******** */

/* header */


header{
    box-shadow: 0px 0px 10px 0 #cccccc;
    padding: 20px 2%;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

header ul li{
    display: inline-block;
    margin: 0 15px;
}

header ul .login li:nth-of-type(2){
    border: 1px solid black;
    border-radius: 10px;
}

header ul .login li:nth-of-type(2) a{
    display: block;
    padding: 10px;
}

header ul .login li:nth-of-type(2):hover{
    border: 1px solid #01A0DD;
}

header ul li a{
    color: black;
    text-decoration: none;
    transition: 0.4s;
}

header ul li a:hover{
    color: #01A0DD;

}

.fa-user{
    font-size: 20px;
    margin-right: 7px;
}

.fa-right-to-bracket{
    font-size: 20px;
    margin-right: 7px;
}

.menu-mobile{
    display: none;
}

.menu-mobile ul{
    box-shadow: 0px 3px 5px 0 #cccccc;
    position: absolute;
    width: 100%;
    left: 0;
    display: block;
    text-align: center;
    top: 74px;
    display: none;
    background-color: white;
}

.menu-mobile ul li{
    display: block;
}

.menu-mobile ul li a{
    padding: 5px 0;
    display: block;
}

.menu-mobile .login li:nth-of-type(2){
    display: inline-block;
} 

.menu-mobile .nav{
    margin-top: 30px;
}

.menu-mobile .login{
    margin:30px 0 15px 0;
}

.fa-bars, .fa-xmark{
    font-size: 40px;
    cursor: pointer;
}

/* ****** */

/* seção intro */
main{
    padding-top: 84px;
}

.intro{
    padding: 200px 2%;
}

.intro .text{
    max-width: 700px;
    width: 100%;
}



.intro .text p{
    font-size: 18px;
    line-height: 25px;
}

/* ****** */

/* sobre */
section.sobre{
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 150px 2%;
    background-attachment: fixed;
}

section.sobre .context{
    position: relative;
    text-align: justify;
}

.sobre p{
    color: white;
    line-height: 28px;
}

.sobre h2{
    margin-bottom: 30px;
}
/* ****** */

/* alguns serviços */
.alguns-servicos{
    padding: 100px 2%;
}

.alguns-servicos .wraper{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.alguns-servicos .single i{
    font-size: 40px;
    color: #01A0DD;
}


.alguns-servicos .single{
    box-shadow: 0px 20px 40px #2426721C;
    padding: 30px;
    width: 30%;
}

.alguns-servicos .single h3{
    margin: 10px 0;
}

.alguns-servicos .single p{
    color: gray;
}
/* ********** */

/* contato */
.contato{
    padding: 0 2%;
}

.contato form{
    max-width: 800px;
    margin: 30px auto;
    padding: 30px 0;
}

.contato input{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 7px;
    border-radius: 10px;
    border: 1px solid #C3CCE8;
    margin: 5px 0;
}
.contato textarea{
    width: 100%;
    height: 140px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid #C3CCE8;
    margin: 5px 0;
    resize: none;
}

.contato h2{
    text-align: center;
}

.contato button{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 5px 0;
    border: 0;
    color: white;
    font-size: 20px;
    background-color: #fab921;
    cursor: pointer;
    transition: 0.4s;
}

.contato button:hover{
    background-color: #d49e1f;
}


/* ******** */

/* footer */
footer{
    background-color: #01A0DD;
    padding: 20px 2%;
    text-align: center;
    color: white;
}
/* ****** */